{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
      {{category.description|truncatewords:155}}
  {% else %}
      Welcome to E-commerce online, shop unlimited.
  {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
      {{category.name}} - E-commerce online -
  {% else %}
      Sail in our store  - E-commerce online -
  {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div>
        <div>
            <p><a href="{% url 'ecommerceapp:allProdCat' %}">Our Product Collections</a></p>
        </div>
    </div>
{% endif %}
 <div>
     {% if category %}
            <img src="{{category.image.url}}" alt="{{category.name}}">
 </div>
    <br>
<div>
            <h1>{{category.name}}</h1>
            <p>{{category.description}}</p>
    {% else %}
 <img src="{% static 'img/banner.png' %}" alt="Our Products">
</div>
<br>
<div>
    <h1>Our Products Collections</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>
{% endif %}

<div>
    <div>
        {% for product in products %}
        <div>
            <div>
                <a href=""><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}